@model AlumnosSystem.Models.Carrera

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .agrandar input {
            width: 300px;
            flex: 1;
        }

        .agrandar div {
            align-items: center;
            margin-bottom: 10px;
        }

        .agrandar label {
            width: 150px;
            margin-right: 150px;
        }

        .agrandar .text-danger {
            margin-top: 5px;
        }

        .btn-container {
            display: flex;
            justify-content: flex-start;
        }

        .card {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="card">
        <form class="agrandar" asp-action="Editar" asp-controller="Carrera" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="IdCarrera" class="control-label"></label>
                <input asp-for="IdCarrera" class="form-control" readonly />
                <span asp-validation-for="IdCarrera" class="text-danger"></span>
            </div>


            <div>
                <label asp-for="IdResponsable" class="control-label"></label>
                <input asp-for="IdResponsable" class="form-control" readonly />
                <span asp-validation-for="IdResponsable" class="text-danger"></span>

            </div>

            <div>
                <label asp-for="NombreCarrera" class="control-label"></label>
                <input asp-for="NombreCarrera" class="form-control" />
                <span asp-validation-for="NombreCarrera" class="text-danger"></span>

            </div>
           
            <div>
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="activo">"activo"</option>
                    <option value="inactivo">"inactivo"</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="btn-container" style="display:flex; justify-content:space-around">

                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-danger" href="@Url.Action("VCarrera", "Carrera")">Cancelar</a>

            </div>

        </form>
    </div>

</body>
</html>